<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZakatCalculator">
        <activity
            android:name=".presentation.screens.activities.silver_activity.SilverActivity"
            android:exported="false"
            android:label="@string/title_activity_silver"
            android:theme="@style/Theme.ZakatCalculator" />
        <activity
            android:name=".presentation.screens.activities.splash_activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ZakatCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.screens.activities.gold_activity.GoldActivity"
            android:exported="false"
            android:label="@string/title_activity_gold"
            android:theme="@style/Theme.ZakatCalculator" />
        <activity
            android:name=".presentation.screens.activities.rikaz_activity.RikazActivity"
            android:exported="false"
            android:label="@string/title_activity_rikaz"
            android:theme="@style/Theme.ZakatCalculator" />
        <activity
            android:name=".presentation.screens.activities.income_activity.IncomeActivity"
            android:exported="false"
            android:label="@string/title_activity_income"
            android:theme="@style/Theme.ZakatCalculator" />
        <activity
            android:name=".presentation.screens.activities.savings_activity.SavingsActivity"
            android:exported="false"
            android:label="@string/title_activity_savings"
            android:theme="@style/Theme.ZakatCalculator" />
        <activity
            android:name=".presentation.screens.activities.fitrah_activity.FitrahActivity"
            android:exported="false"
            android:label="@string/title_activity_fitrah"
            android:theme="@style/Theme.ZakatCalculator" />
        <activity
            android:name=".presentation.screens.activities.home_activity.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.ZakatCalculator" />
    </application>

</manifest>
